<head>
    <script src="scripts/mechanics/Base.js"></script>
    <script src="scripts/mechanics/entities.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="scripts/rooms/tile.js"></script>
    <script src="scripts/rooms/room.js"></script>
    <script src="scripts/characters/createchar.js"></script>
    <script src="scripts/sprites/sprite.js"></script>
    <script src="scripts/characters/avatar.js"></script>
    <script src="scripts/characters/charsheet.js"></script>
    <script src="scripts/characters/charloader.js"></script>
    <link href="styles/multiple-select.css" rel="stylesheet" />
    <link href="styles/createchar.css" rel="stylesheet" />
</head>

<body>
    <div style="display: flex; flex-direction: column; justify-content: flex-start; margin-right: 5px;">
        <div style="display: flex; justify-content: flex-start;">
            <a href="/">Back</a>
            <h1 style="margin: 0;">Character Creator</h1>
        </div>
        <div id="selections">
            <div class="layers">
                Base:
                <canvas id="base" class="viewSelection" width="16" height="16"></canvas>
                Hair:
                <canvas id="hair" class="viewSelection" width="16" height="16"></canvas>
                Beard:
                <canvas id="beard" class="viewSelection" width="16" height="16"></canvas>
            </div>
            <div class="layers">
                Pants:
                <canvas id="pants" class="viewSelection" width="16" height="16"></canvas>
                Boots:
                <canvas id="boots" class="viewSelection" width="16" height="16"></canvas>
                Hat:
                <canvas id="hat" class="viewSelection" width="16" height="16"></canvas>
            </div>
            <div class="layers">
                Torso:
                <canvas id="torso" class="viewSelection" width="16" height="16"></canvas>
                Left:
                <canvas id="left" class="viewSelection" width="16" height="16"></canvas>
                Right:
                <canvas id="right" class="viewSelection" width="16" height="16"></canvas>
            </div>
            <button id="clear">Clear Avatar</button>

        </div>
        <canvas id="charcanvas" width="256" height="256"></canvas>

        <!-- <script>
            function makeAvatar() {
                console.log("Starting")
                // var hair = document.getElementById("hair");
                // var beard = document.getElementById("beard");
                // var pants = document.getElementById("pants");
                // var boots = document.getElementById("boots");
                // var torso = document.getElementById("torso");
                // var left = document.getElementById("left");
                // var right = document.getElementById("right");
                // var c = document.getElementById("charcanvas");
                // var ctx = c.getContext("2d");
                // ctx.clearRect(0,0,c.width,c.height)
                // ctx.drawImage(base, 0, 0);
                // ctx.drawImage(pants, 0, 0);
                // ctx.drawImage(boots, 0, 0)
                // ctx.drawImage(torso, 0, 0);
                // ctx.drawImage(hair, 0, 0);
                // ctx.drawImage(beard, 0, 0);
                // ctx.drawImage(left, 0, 0);
                // ctx.drawImage(right, 0, 0);
            }
        </script> -->
    </div>
    <div id="tilepickercontainer" style="overflow: auto; width: 100%; height: 99%; border: solid black 1px;">
        <canvas id="tilepicker"></canvas>
    </div>
    <!-- <div id="tilepickercontainer" style="overflow: auto; border: solid black 1px;">
        <canvas id="tilepicker" style="overflow: auto; border: solid black 1px;"></canvas>
    </div> -->
</body>