<head>
    <script src="scripts/mechanics/Base.js"></script>
    <script src="scripts/mechanics/entities.js"></script>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="scripts/rooms/tile.js"></script>
    <script src="scripts/rooms/room.js"></script>
    <script src="scripts/characters/createchar.js"></script>
    <script src="scripts/sprites/Sprite.js"></script>
    <script src="scripts/characters/avatar.js"></script>
    <script src="scripts/characters/charsheet.js"></script>
    <script src="scripts/characters/charloader.js"></script>
    <link href="styles/multiple-select.css" rel="stylesheet" />
    <link href="styles/createchar.css" rel="stylesheet" />
</head>

<body>
    <div style="display: flex; flex-direction: column; justify-content: flex-start; margin-right: 5px;">
        <div style="display: flex; justify-content: flex-start;">
            <a href="/">Back</a>
            <h1 style="margin: 0;">Character Creator</h1>
        </div>
        <!-- <div id="selections">
            <div class="layers">
                Base:
                <canvas id="base" class="viewSelection" width="16" height="16"></canvas>
                Hair:
                <canvas id="hair" class="viewSelection" width="16" height="16"></canvas>
                Beard:
                <canvas id="beard" class="viewSelection" width="16" height="16"></canvas>
            </div>
            <div class="layers">
                Pants:
                <canvas id="pants" class="viewSelection" width="16" height="16"></canvas>
                Boots:
                <canvas id="boots" class="viewSelection" width="16" height="16"></canvas>
                Hat:
                <canvas id="hat" class="viewSelection" width="16" height="16"></canvas>
            </div>
            <div class="layers">
                Torso:
                <canvas id="torso" class="viewSelection" width="16" height="16"></canvas>
                Left:
                <canvas id="left" class="viewSelection" width="16" height="16"></canvas>
                Right:
                <canvas id="right" class="viewSelection" width="16" height="16"></canvas>
            </div>
        </div> -->
        <button id="clear">Clear Avatar</button>
        <canvas id="charcanvas" width="256" height="256"></canvas>
    </div>
    <div id="tilepickercontainer" style="overflow: auto; width: 100%; height: 99%; border: solid black 1px;">
        <canvas id="tilepicker"></canvas>
    </div>
</body>