<head>	
	<!-- Libs -->
	<script src="scripts/mechanics/entities.js"></script>
	<script src="scripts/mechanics/util.js"></script>
	<script src="scripts/mechanics/input.js"></script>
	<script src="scripts/mechanics/enums.js"></script>
	
	
	<!-- Classes -->
	<script src="scripts/sprites/spritesheet.js"></script>	
	<script src="scripts/sprites/spritesheetloader.js"></script>
	
	<script src="scripts/rooms/room.js"></script>
	
	<script src="scripts/mechanics/Base.js"></script>
	<script src="scripts/sprites/Sprite.js"></script>
	<script src="scripts/mechanics/Tile.js"></script>
	<script src="scripts/mechanics/Moving.js"></script>
	<script src="scripts/mechanics/Projectile.js"></script>
	<script src="scripts/mechanics/Dialogue.js"></script>
	<script src="scripts/mechanics/NPC.js"></script>
	<script src="scripts/mechanics/Player.js"></script>
	<script src="scripts/mechanics/Window.js"></script>
	<script src="scripts/mechanics/Game.js"></script>	
</head>

<body style="margin: 0; padding: 0;">
    <canvas id="game"></canvas>
</body>