<head>
    <script src="jquery/dist/jquery.min.js"></script>
    <script src="scripts/room.js"></script>
    <script src="scripts/sprite.js"></script>
    <script src="scripts/spritesheet.js"></script>
    <script src="scripts/resourceloader.js"></script>
    <script src="scripts/gamescript.js"></script>
</head>
<body style="margin: 0; padding: 0;">
    <canvas id="gamecanvas"></canvas>
</body>