@font-face {
    font-family: KenneyPixel;
    src:url("/resources/fonts/Kenney Pixel.ttf");
}
body, input, button {
    font-family: KenneyPixel;
    font-size: 1em;
}
body {
    overflow: hidden;
    display: flex; 
    justify-content: flex-start;
}
body div {
    margin-bottom: 1px;
    margin-top: 1px;
}
#undobtn, #redobtn {
    width: 10%;
}
#fetchbtn, #clearbtn, #fillbtn {
    width: 20%;
}
#roomcanvas {
    align-self: center; 
    border: solid black 1px; 
    width: 256px; 
    height: 256px;
}
.selectedtile {
    width: 16px; 
    height: 16px; 
    border: solid black 1px;
}